<div class="container">
    <div class="row">
        {{#each products}}
        <div class="col-md-4">
            <div class="card border-0 mb-3">
                <a href="/products/{{this._id}}" class="text-decoration-none">
                        <img src="{{this.thumbnail}}" class="img-fluid" alt="{{this.title}}">
                    </a>
                <div class="card-body text-center">
                    <p class="card-text text-dark">{{this.title}}<br><span class="text-danger">${{this.price}}</span>
                    </p>
                    <p><button class="btn btn-dark"
                            onclick="agregarProductoAlCarrito('{{product._id}}')">Agregar</button></p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}"> Siguiente </a>
    {{/if}}
    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}"> Anterior </a>
    {{/if}}
</div>