<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Perfil de Usuario
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Nombre:</strong> {{user.first_name}} {{user.last_name}}</li>
                        <li class="list-group-item"><strong>Email:</strong> {{user.email}}</li>
                        <li class="list-group-item"><strong>Edad:</strong> {{user.age}}</li>
                        <li class="list-group-item"><strong>Role:</strong> {{user.role}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>